<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Elmätaren</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <h1>Elmätaren</h1>
    <form method="POST" action="{{ url_for('result') }}">
      <div class="mb-3">
        <label for="year" class="form-label">Year:</label>
        <select class="form-select" id="year" name="year">
          <option selected disabled>Select a year</option>
          {% set current_year = current_year %}
          {% for y in range(2022, current_year + 1) %}
            <option value="{{ y }}">{{ y }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <label for="month" class="form-label">Month:</label>
        <select class="form-select" id="month" name="month">
          <option selected disabled>Select a month</option>
          {% for m in range(1, 13) %}
            <option value="{{ m }}">{{ m }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <label for="day" class="form-label">Day:</label>
        <select class="form-select" id="day" name="day">
          <option selected disabled>Select a day</option>
          {% for d in range(1, 32) %}
            <option value="{{ d }}">{{ d }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <label for="price_range" class="form-label">Region:</label>
        <select class="form-select" id="price_range" name="price_range" aria-label="Price Range">
          <option selected disabled>Select a price range</option>
          <option value="SE1">Luleå / Norra Sverige</option>
          <option value="SE2">Sundsvall / Norra Mellansverige</option>
          <option value="SE3">Stockholm / Södra Mellansverige</option>
          <option value="SE4">Malmö / Södra Sverige</option>
        </select>
      </div>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
